@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-first: #269fbd;
  --color-seccond: #37798a;
  --color-thirth: #00c1ef;
  --color-forth: #345057;
  --color-fifth: #293133;
}

main {
  background: var(--color-fifth);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 32px;
  width: 100vw;
  min-height: 100vh;
  height: auto;
}

.select-container {
  padding: 20px;
  border: 5px solid var(--color-forth);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
}

.select-container::before {
  font-size: 32px;
  color: var(--color-seccond);
  content: "Type";
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  position: absolute;
  top: -75px;
  left: 50%;
  transform: translateX(-50%);
}

.type-btn {
  color: var(--color-fifth);
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  width: 100px;
  height: 100px;
  border: 5px solid var(--color-seccond);
  border-radius: 30px;
  cursor: pointer;
}

.type-btn.is-active,
.type-btn:hover {
  color: var(--color-thirth);
  border: 5px solid var(--color-thirth);
  box-shadow: 0px 0px 20px 0px var(--color-first);
}

button[data-type="organ"] {
  background: #ea3281;
}

button[data-type="waves"] {
  background: #239dd8;
}

button[data-type="prayer"] {
  background: #ae2a1c;
}

button[data-type="sponta"] {
  background: #9d1feb;
}

button[data-type="peaceful"] {
  background: #e57828;
}

button[data-type="analog"] {
  background: #004ae9;
}

button[data-type="drone"] {
  background: #657f58;
}

button[data-type="custom"] {
  background: #345057;
}

.tom-container {
  max-width: 1024px;
  width: 100%;
  min-height: 768px;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 20px;
  border: 5px solid var(--color-forth);
  border-radius: 30px;
}

.tom-btn {
  color: var(--color-fifth);
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  font-size: 72px;
  width: 206px;
  height: 188px;
  background: var(--color-forth);
  border: 5px solid var(--color-seccond);
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.tom-btn.is-active,
.tom-btn:hover {
  color: var(--color-thirth);
  background: var(--color-seccond);
  border: 5px solid var(--color-thirth);
  box-shadow: 0px 0px 20px 0px var(--color-first);
}

.footer {
  font-size: 10px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: var(--color-thirth);
  text-align: right;
}

@media (max-width: 1280px) {
  .select-container {
    gap: 10px;
  }

  .type-btn {
    font-size: 8px;
    border-radius: 10px;
    border: 2px solid var(--color-seccond);
    width: 50px;
    height: 50px;
  }

  .tom-container {
    max-width: 560px;
    min-height: initial;
    height: auto;
    gap: 10px;
    padding: 10px;
  }

  .tom-btn {
    font-size: 42px;
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 560px) {
  main {
    flex-direction: column;
    gap: 20px;
  }

  .select-container {
    padding: 15px;
    border: 5px solid var(--color-forth);
    flex-direction: row;
  }

  .select-container:last-child:before {
    display: none;
  }
}
